/** Common */
body {
    font-family: Roboto, sans-serif;
    background: #ffffff;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

a {
    color: #4D5AE5;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}


h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    margin: 0 auto;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin: 0px auto;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
    margin: 0;
}

header, main {;
    margin: 0;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}

.nav-link:hover, .nav-link:active {
    color: #404BBF;
}

/** Common header address */

.address-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.header-address {
    font-style: normal;
}

.address-link:hover, .address-link:active {
    color: #404BBF;
}

.h-one, .header-two {
    color: #2e2f42;
}

.h-one {
    background-color: #2e2f42;
    line-height: 1.07;
    color: #ffffff;
}

.header-two {
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
    /** Logo */
.logo {
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    text-align: left;
    line-height: 1.17;

}

.list-item {
    background-color: #FFFFFF;
}
.list-item a:hover, .list-item a:active, .list-item a:focus {
    color: #404bbf;
}
.paragraph {
    font-size: 16px;
}

.logo > span {
    color: #2e2f42;
}

.logo.top {
    font-size: 18px;
    font-weight: 700;
    line-height:  1.17;
    letter-spacing: 0.03em;
}

.logo.bottom {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    line-height: 1.17;
}

.logo.bottom > span {
    color: #f4f4fd;
}

.btn-big-default {
    background: #4D5AE5;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    letter-spacing:  0.04em;
}

.btn-big-default:hover, .btn-big-default:focus {
    background-color: #404BBF;
}

.hero {
    background-color: #2E2F42;
    color: white;
}

.section-one, .section-two {
    background-color: #2e2f42;
    text-align: center;
}

.section-two {
    line-height: 1.11;
}

.section-two-s {
    background-color: #F4F4FD;
}

.section-three {
    background-color: #F4F4FD;
    text-align: center;
    line-height: 1.11;
}

.header-two {
    color: #2e2f42;
    line-height: 1.07;
}

.header-two-s {
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.header-three {
    color: #2e2f42;
}



.paragraph {
    color: #2e2f42;
    line-height: 1.5;
}


.paragraph-two {
    color: #434455;
    line-height: 1.5;
}

.footer-paragraph {
    color: #F4F4FD;
}